@import '../../style/variables.scss';

.custom {
  &__form__container {
    margin-top: 30px;
    min-height: 127px;
    padding: 0 25px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 5;
    background-color: #fff;
  }
  &__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    &__name {
      font-weight: bold;
      font-size: 18px;
      padding: 25px 0 18px 0;
    }
  }

  &__form input {
    font-size: 17px;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    width: 250px;
    height: 38px;
  }
}
